$primary-color:#ffc222;
$secondary-color:#00e149;
$text-color:#b0b0b0;
//==========//
$font-family: 'Quicksand', sans-serif;
$font-family1: 'Roboto', sans-serif;

$text-transform:capitalize;
$transition: all 0.4s ease-out;
$transition1: all 0.4s linear;
$letter-spacing: 1px;